.Gallery{
    width: 100%;
    .GalleryList{
        width: 100%;
        background-color: #D9D9D9;
        padding: 1px;
        .Galleryitem{
            position: relative;
            width: 800px;
            height: 450px;
            z-index: 10;
            margin: 80px auto;
            .img{
                position: absolute;
                top: 0;
                left: 0;
                background-color: gray;
                width: 600px;
                height: 400px;
                img{}
            }
            .text{
                position: absolute;
                top: 50px;
                left: 200px;
                background-color: #f4f4f4;
                width: 600px;
                height: 400px;
                z-index: -1;
                h2{
                    width: 200px;
                    margin-left: 400px;
                    text-align: center;
                }
                ul{
                    width: 200px;
                    margin-left: 220px;
                    padding-left: 0;
                    text-align: left;
                    list-style: none;
                    li{ 
                    }
                }
            }
        }
    }
}